.autocomplete-container {
    background-color: var(--tg-theme-secondary-bg-color);
    opacity: 1;
    transition: opacity 0.3s linear;
}

.autocomplete-container .select {
    background-color: var(--tg-theme-bg-color);
}

.autocomplete-container.hidden {
    opacity: 0;
}

.input-container {
    padding: 5px 0;
    display: flex;
    position: relative;
    background-color: var(--tg-theme-bg-color);
}

.input-container input {
    outline: none;
    line-height: 36px;
    height: 36px;
    padding: 0 31px 0 7px;
    width: calc(100% - 40px);

    border: 1px solid var(--tg-theme-hint-color);
    border-radius: 5px;

    font-size: 18px;
}

.input-container input::placeholder {
    color: var(--tg-theme-hint-color);
}

.autocomplete-items {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    margin-top: -5px;

    border: 1px solid var(--tg-theme-hint-color);
    border-radius: 5px;
    overflow: hidden;

    box-shadow: 0px 2px 10px 2px var(--tg-theme-hint-color);
    z-index: 99;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--tg-theme-hint-color);
}

.autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--tg-theme-hint-color);
}

.clear-button {
    color: var(--tg-theme-hint-color);
    cursor: pointer;

    position: absolute;
    right: 5px;
    top: 0;

    height: 100%;
    display: none;
    align-items: center;
}

.clear-button.visible {
    display: flex;
}

.clear-button:hover {
    color: var(--tg-theme-text-color);
}