body {
    font: 18px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    margin: 48px 24px;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}

a {
    color: var(--tg-theme-link-color);
}

div.select {
    padding: 15px 0;
}

/* circle background for weather icon */
.circled {
    height: 100px;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

/* fixed top bar */
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--tg-theme-bg-color);
    padding: 10px;
    margin-bottom: 20px;
    z-index: 99;
    opacity: 0;
    text-align: center;
    border-bottom: 1px solid var(--tg-theme-hint-color);
}

.header {
    text-align: center;
}