@charset "UTF-8";

body label {
    /* background: #333; */
    text-align: center;
}

label {
    position: relative;
    display: inline-block;
    /* margin: 100px 0 0; */
    width: 100%;

    &:after {
        content: '▼';
        position: absolute;
        width: 37px;
        color: var(--tg-theme-text-color);
        font-weight: bold;
        font-size: 16px;
        right: 2px;
        bottom: 8px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        pointer-events: none;
        z-index: 2;
    }

    &:before {
        content: '';
        right: 2px;
        top: 2px;
        width: 37px;
        height: 34px;
        background: var(--tg-theme-secondary-bg-color);
        position: absolute;
        pointer-events: none;
        display: block;
        z-index: 1;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    select {
        position: relative;
        width: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: var(--tg-theme-secondary-bg-color);
        color: var(--tg-theme-text-color);
        border: none;
        outline: none;
        font-size: 14px;
        padding: 10px 9px;
        margin: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
        height: 38px;
    }
}